
#terminal {
    padding: 1rem;
}

#terminal.light {
    background-color: var(--color-white);
    color: var(--color-black);
}

#terminal.dark, #terminal.dark body {
    background-color: var(--color-black);
    color: var(--color-white);
}



#terminal.matrix *, #terminal.matrix {
    color: var(--color-green-matrix);
    background-color: black;
}


