:root {
  --color-black: #111;
  --color-white: #eee;
  --color-red: #EB9BBD;
  --color-yellow: #F0EBAB;
  --color-green: #C7E38D;
  --color-dark-green: #03C03C;
  --color-purple: #978BC4;
  --color-blue: #83B3E0;
  --color-dark-blue: #579ABE;
}

body {
  margin: 0;
  font-family: 'Ubuntu Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--color-black);
  color: var(--color-white);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html{
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

html::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

.light {
  color: var(--color-black);
  background-color: var(--color-white);
}

