.user {
    color: var(--color-green);
}

.light .user {
    color: var(--color-dark-green);
}

.tilde {
    color: var(--color-blue);

}

.light .tilde {
    color: var(--color-dark-blue);
}

.cursor {
    color: var(--color-white)
}

.light .cursor {
    color: var(--color-black);
}

.empty-span {
    font-size: 0;
    line-height: 0;
    visibility: hidden;
}

.empty-span:empty {
    visibility: visible;
}

.file {
    color: var(--color-white);
}

.light .file {
    color: var(--color-black);
}

.folder {
    color: var(--color-blue);
}

.light .folder {
    color: var(--color-dark-blue);
}

span {
    white-space: break-spaces;
}

a {
    color: var(--color-blue);
}


a:hover {
    color: var(--color-white);
}

.light a:hover {
    color: var(--color-black);
}


