.user {
    color: var(--color-green);
}

.tilde {
    color: var(--color-blue);

}

.cursor {
    color: var(--color-white)
}

.empty-span {
    font-size: 0;
    line-height: 0;
    visibility: hidden;
}

.empty-span:empty {
    visibility: visible;
}

.file {
    color: var(--color-white);
}

.folder {
    color: var(--color-blue);
}

span {
    white-space: break-spaces;
}

a {
    text-decoration: none;
    color: var(--color-blue);
}
